* {
  margin: 0;
  padding: 0;
  font-family: "Inter";
}

/*************** Home section starts****************/
#home {
  background-color: rgb(31, 30, 39);
  padding: 50px 0;
}
/************* align text to center **************/
.head-content,
.order-btn,
.logos,
.card-head {
  text-align: center;
}

.head-content,
button {
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
}
.head-content h3 {
  font-size: 24px;
  color: rgb(255, 142, 75);
}

.head-content h1 {
  font-size: 50px;
}

.head-content h1,
.list-content {
  margin: 15px 0;
}
.head-content h1 span {
  font-weight: 400;
}
.head-content h1,
.head-content p,
.list-content p,
button {
  color: rgb(255, 255, 255);
}
.head-content p {
  font-size: 24px;
}
.price-tag-color {
  color: #0092ff;
}

.list-content {
  flex-direction: column;
}
.list-content,
.logos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-check-circle {
  color: rgb(255, 142, 75);
  margin-right: 10px;
}
.list-content p,
button {
  font-size: 14px;
}
button {
  border-radius: 37px;
  background-color: rgb(0, 146, 255);
  border: #0092ff;
  padding: 20px 40px;
  cursor: pointer;
  margin-top: 10px;
}
.fa-arrow-right {
  color: #ffffff;
  margin-left: 15px;
}
.logos {
  flex-wrap: wrap;
}
.logos img {
  margin: 30px 20px 0;
}

/*************** Home section ends ****************/

/************ Banner card section starts **********/

#banner {
  background-color: rgb(248, 249, 251);
  padding: 50px 50px;
}
.card-head {
  font-weight: bold;
  line-height: 1.35;
}
.card-head h2,
.card-head h3 {
  font-size: 40px;
}
.card-head h2 {
  color: rgb(0, 146, 255);
}
.card-head h3 {
  margin: 5px 0 15px 0;
}
.card-head h3,
.card-head p,
.card-text p {
  color: rgb(35, 33, 66);
}
.list-content p,
.card-head p {
  line-height: 2;
}
.card-head p {
  font-size: 16px;
  margin-bottom: 20px;
}
.card-head p,
.card-text {
  font-weight: normal;
}
.cards {
  display: flex;
  justify-content: space-between;
}
.card {
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 14px 34px 0px rgba(0, 1, 87, 0.04);
  width: 417px;
  height: 212px;
  padding: 30px;
  margin: 10px;
  font-weight: bold;
  line-height: 1.455;
}

.symbol-and-head {
  display: flex;
  align-items: center;
}

.symbol-and-head h4 {
  font-size: 19px;
  color: rgb(29, 25, 74);
  margin: 0 20px;
}
.card-text {
  text-align: left;
  margin: 20px 0;
  font-size: 16px;
  line-height: 1.625;
}
/************ Banner card sectionends **********/

/*********** media properites for 600px devices ****************/

@media only screen and (max-width: 600px) {
  #home,
  #banner {
    padding: 50px 15px;
  }
  #banner {
    padding: 50px 0;
  }
  .card {
    width: fit-content;
    height: fit-content;
    padding: 20px;
  }
  .head-content h3,
  .head-content p {
    font-size: 18px;
  }
  .head-content h1 {
    margin: 20px 0;
    font-size: 24px;
  }
  button {
    padding: 20px 30px;
    cursor: pointer;
  }
  .logos img {
    margin: 40px 20px 0;
  }
  .fa-arrow-right {
    color: #ffffff;
    margin-left: 10px;
  }
  .cards {
    flex-wrap: wrap;
  }
  .card-head h2,
  .card-head h3 {
    font-size: 24px;
  }
  .symbol-and-head h4 {
    font-size: 18px;
  }
  .card-text {
    font-size: 15px;
  }
}

/*********** media properites for 1000px devices ****************/

@media only screen and (max-width: 1300px) {
  .cards {
    flex-wrap: wrap;
  }
  .card {
    width: 90%;
    height: fit-content;
    padding: 40px;
  }
}

/*********** media properites for 1300px devices ****************/

@media only screen and (max-width: 1000px) {
  .cards {
    flex-wrap: wrap;
  }
  .card {
    width: 90%;
    height: fit-content;
    padding: 40px;
  }
}
